body{
    margin : 0;
}
#card{
    background-color : wheat;
    width : 400px;
    height : 500px;

    position : relative;
}
#poster{
    width : 350px;
    height : 300px;
    background-color : thistle;
    margin : 0 auto;

    position : relative;
    top : 25px;
}
#bnt-box{
    position : absolute;
    bottom : 25px;
    left : 120px;
}
.bnt{
    padding : 5px 10px;
    border-radius: 5px;
    color : white;
}
.teal{
    background-color : teal;
}
.tomato{
    background-color : tomato;
}