
$color--blue: rgb(119, 164, 255);
$color--white: rgb(255,255,255);
$color--gray: rgb(123,123,123);;
$color-ligntblue: rgb(243, 247, 255);

$height-header: 80px;
$shadow--black: rgba(0, 0, 0, 0.15);

