.beach1{
    width : 400px;
    height : 200px;
    background-color : orange;

    position : absolute;
    left : 150px;
    top : 200px;
}
img{
    width : 100%;
    height : 100%;
}
img:hover{

    /* 
    transition
    css ㅡ로퍼티(속성)이 변화할 때 
    일정시간 동안 변화가 일어나도록 
    */
     transition : transform 2s; /*시간*/

     /* skew() : 원하는 각도만큼 요소를 기울임 */
     /* scale() : 크기 조절(확대, 축소)
        - 1보다 크면 확면 1보다 작으면 축소( 0 ~ 1) */
     /* rotate() : 회전 
        -rotateX() : X축을 기준 회전
        -rotateY() : Y축을 기준 회전
    */
     /* translate() : 이동 
        -tarnslateX() : X축을 기준으로 이동
        -translateY() : Y축을 기준으로 이동
        -translate() : x, y축을 기준으로 이동*
        
        -양수는 오른쪽으로, 음수는 왼쪽으로 이동/

     
    /* transform : skew(30deg, 30deg); */
    /* transform : scale(2, 2);*/

    /* transform : rotateX(45deg); */
    transform : translateX(100px);
}

        /*
            웹 요소를 이동시키는 translate() 함수
                transform : translate3d(tx, ty, tz) : 지정한 크기만큼 x, y, z 축으로 이동
                transform : translateZ(tz) : 지정한 크기만큼 z축으로 이동
        
            요소를 확대-축소하는 scale() 함수 => 괄호 안의 값이 1보다 크면 확대, 1보다 작으면 축소
                transform : scale3d(sx, sy, sz) : 지정한 크기만큼 x, y, z축으로 확대-축소함
                transform : scaleZ(sz) : 지정한 크기만큼 z축으로 확대-축소

            요소를 회전시키는 rotate() 함수 : 2차원 회전, 3차원 회전 모두 가능.
            => 양수는 오른쪽으로 회전, 음수는 왼쪽으로 회전.
                transform : rotate3d(rx, ry, rz, 각도) : 지정한 각도만큼 회전한다.
                transform : rotate(rx, ry, 각도) : 지정한 각도만큼 회전한다.
                transform : rotateX(각도) : 지정한 각도만큼 x축으로 회전
                transform : rotateY(각도) : 지정한 각도만큼 y축으로 회전
                transform : rotateZ(각도) : 지정한 각도만큼 z축으로 회전

                perspective(길이) : 입체적으로 보일 수 있도록 갚잇값을 지정한다.

            요소를 비틀어 왜곡하는 skew() 함수
            => 양수면 왼쪽이 올라가고 오른쪽이 내려감
            => 음수면 오른쪽이 올라가고 왼쪾이 내려감
                transform : skew(x 각도, y 각도)
                transform : skewX(X각도)
                transform : skewY(Y각도)
        */