/* common */
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width : 1400px;
    height: 100vh;
    /* 
        vh? 처음 보는 단위가 등장했습니다!
        - vh: viewport height의 약자로 브라우저 1vh는 브라우저 뷰포트 높이의 1/100을 의미해요.
        - 즉, 100vh는 브라우저 뷰포트 높이와 같아요. body 태그의 높이를 브라우저 뷰포트의 높이와 같게 설정했어요!
        - 반응형 웹에 대해 학습하실 때 배우게 될 단위입니다 :)
    */
}

ul {
    padding: 0;
    list-style: none;
}

h1, p {
    margin: 0;
}

p {
    text-align: justify;
}

/* TODO: Slack에서 실행영상을 참고해 제작해주세요~ */

section{
    width : 100%;;
    height : 100vh;
    background-color : rgb(80, 79, 79);

    display : flex;
    /* justify-content : space-around; */
    align-items : center; 
    justify-content : center;
}
.card{
    background-color : white;
    width : 280px;
    height : 500px;
    display : flex;
    flex-direction : column;
    justify-content : center;
    border : 1px solid black;
    
    margin :0 10px;
    border-radius : 20px;
}
.card-list #lotte, .card-list #hanwha{
    flex-direction : column-reverse;
}
.card img{
    width : 200px;
    height : 200px;
    margin : 0 auto;
    margin-top : 10px;
    border : 1px solid black;
}

.card-list .card .desc .title{
    text-align : center;
    font-size : 20px;
    font-weight : 900;
    margin : 15px 0;
}

.desc .caption{
    width : 210px;
    margin : 0 auto;
}

.card:hover{
    transform : translateY(-30px);
    font-style : italic;
}

#kiwoom:hover .title {
    color : red;
}
#lotte:hover .title{
    color : blue;
}
#lg:hover .title{
    color : red;
}
#hanwha:hover .title{
    color : orange;
}